* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    margin-top: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #5a607b;
    box-shadow: 0px 10px 15px 0px rgba(210, 142, 142, 0.5);
}

.logo-text a,
.cta {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #bde0ec;
    text-decoration: none;
}

.cta {
    padding: 9px 25px;
    background-color: rgb(0, 110, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 85, 255, 0.8);
}

.cards {
    display: table;
}

.card {
    font-family: "Candara", sans-serif;
    width: 340px;
    overflow: hidden;
    background: rgb(207, 224, 180);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.8);
    display: inline-block;
    flex-direction: column;
    border-radius: 2rem;
    margin: 2rem;
}

.card-image img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 10px solid rgb(238, 219, 219);
    transition-duration: 0.4s;
    transition-property: transform;
}

.profile-image img:hover {
    transform: scale(1.1);
}

.card-content h3,
.card-content h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 11px;
}